@keyframes click-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.click-animate {
  animation: click-animation 0.3s ease;
}
